/* Override some netflix.ca defaults for btns*/
.btn.netflixq {
    background-color: #000;
    cursor: pointer;
    font-size: .9em !important;
    margin-bottom: 7px !important;
    margin-top: 7px !important;
    padding: 3px;
}

.q {
    color: #b9090b;
}

/* Fix the qsliders on the home page - their height doesn't expect the buttons, cuts off stars */
.qSlider{
    height: 300px !important;
}
